@use '../custom'as *;

.jumbotron {
    background-image: url('../../images/JUMBOTRON.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50%;
        height: 100%;
    }
}
